*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-family: Lato;
}

/* NAVBAR */
.navbar{
   margin-top: -15px;
   margin-bottom: 1px;
   height: 110px;
   background-color:#002366;
}

.navbar-brand::before{
    content: 'Bibliotecas';
    position:absolute;
    left: 20%;
    bottom:-5%;
    font-size: 30px;
    color:white;
}
.navbar-nav{
    display:flexbox;
    flex-direction: row;
    text-align:center;
    position: relative;
    left: 50%;
    
    
}
.logo-duoc{
    margin-top:-18px;
}

ul > li {
    margin-top: 38px;
    margin-left: 10px;
    margin-right: 10px;
    transition: transform .2s;
    
}
ul > li:hover{
    transform: scale(1.1);
    
}
ul > li > a > span > i {
    color:aliceblue;
}
#textMenu1,#textMenu2,#textMenu3,#textMenu4,#textMenu5{
    margin-top:1px;
    color:aliceblue;
    text-decoration: none;
}
#textMenu1:hover,#textMenu2:hover,#textMenu3:hover,#textMenu4:hover,#textMenu5:hover{
    color:#FFD400;
}
#textMenu2{
    position:absolute;
    
}
.busqueda > a > span >i:hover{
    color: #FFD400;
}
