*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-family: Lato;
    
}

/* NAVBAR */
.navbar{
   margin-top: -15px;
   margin-bottom: 1px;
   top:0;
   width: 100%;
   height: 110px;
   background-color:#002366;
   position: fixed;
   z-index: 97;  
}
.navbar-brand::before{
    content: 'Bibliotecas';
    position:absolute;
    left: 20%;
    bottom:-5%;
    font-size: 30px;
    color:white;
}
.navbar-nav{
    display:flexbox;
    flex-direction: row;
    text-align:center;
    position: relative;
    left: 50%;
    overflow: hidden;
    
    
}
.logo-duoc{
    margin-top:-18px;
}

.navbar-nav > li {
    margin-top: 38px;
    margin-left: 10px;
    margin-right: 10px;
    transition: transform .2s;
    
}
.navbar-nav > li:hover{
    transform: scale(1.1);
    
}
ul > li > a > span > i {
    color:aliceblue;
}
#textMenu1,#textMenu2,#textMenu3,#textMenu4,#textMenu5{
    margin-top:1px;
    color:aliceblue;
    text-decoration: none;
}

#textMenu2{
    position:absolute;
    
}
.busqueda > a > span >i:hover{
    color: #FFD400;
}
/*----- CARRUSEL -------*/
.carousel-control-prev{
    position: absolute;
    top:170px;
}
.carousel-control-next{
    position: absolute;
    top:170px;
}
/*---- SEARCH BAR ---- */
.search-bar{
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top:70px;
}
/* search icon */
.bi-search{
    font-size: 30px;
    position: relative;
    bottom:4px;
}
/* logo duoc */
.logo-duoc > img{
    width: 50px;
    border-radius: 100%;
    position: absolute;
    top:95px;
}