.divchat {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #002366;
}

.chat-container {
    text-align: center;
    width: 400px;
    border: 1px solid #420909;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: #FFD400;
    color: black;
    padding: 10px;
    text-align: center;
}

.chat-body {
    align-items: center;
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    align-items: center;
    align-content: center;
}

.chat-footer {
    display: flex;
    padding: 10px;
}

.inputchat {
    flex: 1;
    padding: 5px;
}

.buttonchat {
    background-color: #FFD400;
    color: black;
    padding: 5px 10px;
    border: 5px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    
}

.imgchat {
    width: 40px;
    height: 40px;
}

.chatstyle {
    background-color: #002366;
}