.divchat {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #002366;
}

.chat-container {
    text-align: center;
    width: 400px;
    border: 1px solid #420909;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    scroll-behavior: smooth;
}

.chat-header {
    background-color: #FFD400;
    color: black;
    padding: 10px;
    text-align: center;
}

.chat-body {
    align-items: center;
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    align-items: center;
    align-content: center;
}

.chat-footer {
    display: flex;
    padding: 10px;
}

.inputchat {
    flex: 1;
    padding: 5px;
}

.buttonchat {
    
    color: black;
    padding: 5px 10px;
    border: 5px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    
}


.imgchat {
    width: 140px;
    height: 150px;
}

.chatstyle {
    background-color: #002366;
}

#chat1 {
    position: fixed;
    bottom: 4rem;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
}

#chat2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;    
}

#chat3 {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
}

#user-input {
    display: none;
    margin-left: 20px;
    margin-right: 20px;    
}

#offcanvasScrolling
{
    max-height: 450px;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 32rem; /* Ajusta el margen inferior según tus necesidades */
    border: 2px solid yellow;
}

.btn-close
{
    background-color:#FFD400;
}

