/*Sección CARDS */
#cards{
    margin-top:6%;
    
}

.scrolling-container{
    display:flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 2%;
    scroll-behavior: smooth;
}
.scrolling-container2{
    display:flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 2%;
    scroll-behavior: smooth;
}
.scrolling-container::-webkit-scrollbar {
    display: none;
}
.scrolling-container2::-webkit-scrollbar {
    display: none;
}
#titulo-libros{
    margin-left: 5%;
}
#titulo-libros2{
    margin-left: 5%;
    position: relative;
    top:50px;
}
.carta{
    flex: 0 0 auto;
    width: 12rem;
    height: 20rem;
    margin-top:20px;
    margin:20px;
    margin-right:30px;
    border-style:hidden;
    border-radius: 0;
    background-color:lightslategrey;
}

.card-img-top{
    width:12rem;
    height:14rem;
    position:relative;
    right: 12px;
    border-radius: 0;
}
.texto{
    font-size: 16px;
    text-align: left;
    position: relative;
    right:18px;
    bottom:10px;
    width:180px;
    color:aliceblue;
}
/* ------ NEWSLETTERS ----------- */
.newsletter{
    background-color: #002366;
    height: 16rem;
}
#button-card{
    width:190px;
    height: 38px;
    position: absolute;
    right: 1px;
    bottom:0px;
    border-color: black;
    background-color: #002366;
    color:white;
}
#button-card:hover{
    background-color:#FFD400;
    color:#002366;
}
.arrow-icon-left{
    font-size:40px;
    position: absolute;
    left: -6px;
    bottom:-7px;
}
.button-arrow-left{
    width:30px;
    position: absolute;
    left:40px;
    bottom:-1rem;
}
.arrow-icon-right{
    font-size:40px;
    position: absolute;
    right: -6px;
    bottom:-7px;
}
.button-arrow-right{
    width:30px;
    position: absolute;
    right:40px;
    bottom:-1rem;
}
/*Section 2 */
.button-arrow-left2{
    width:30px;
    position: relative;
    left:30px;
    top:15rem;
}
.arrow-icon-left2{
    font-size:40px;
    position: absolute;
    left: -6px;
    bottom:-7px;
}
.button-arrow-right2{
    width:30px;
    position: absolute;
    right:3rem;
    top:88rem;
}
.arrow-icon-right2{
    font-size:40px;
    position: absolute;
    right: -6px;
    bottom:-7px;
}
/* Section 3 */
.button-arrow-left3{
    width:30px;
    position: relative;
    left:30px;
    top:15rem;
}
.arrow-icon-left3{
    font-size:40px;
    position: absolute;
    left: -6px;
    bottom:-7px;
}
.button-arrow-right3{
    width:30px;
    position: absolute;
    right:3rem;
    top:118rem;
}
.arrow-icon-right3{
    font-size:40px;
    position: absolute;
    right: -6px;
    bottom:-7px;
}
/* Section 4 */
.button-arrow-left4{
    width:30px;
    position: relative;
    left:30px;
    top:15rem;
}
.arrow-icon-left4{
    font-size:40px;
    position: absolute;
    left: -6px;
    bottom:-7px;
}
.button-arrow-right4{
    width:30px;
    position: absolute;
    right:3rem;
    top:148rem;
}
.arrow-icon-right4{
    font-size:40px;
    position: absolute;
    right: -6px;
    bottom:-7px;
}
/* Section 5 */
.button-arrow-left5{
    width:30px;
    position: relative;
    left:30px;
    top:15rem;
}
.arrow-icon-left5{
    font-size:40px;
    position: absolute;
    left: -6px;
    bottom:-7px;
}
.button-arrow-right5{
    width:30px;
    position: absolute;
    right:3rem;
    top:179rem;
}
.arrow-icon-right5{
    font-size:40px;
    position: absolute;
    right: -6px;
    bottom:-7px;
}
/* Section 6 */
.button-arrow-left6{
    width:30px;
    position: relative;
    left:30px;
    top:15rem;
}
.arrow-icon-left6{
    font-size:40px;
    position: absolute;
    left: -6px;
    bottom:-7px;
}
.button-arrow-right6{
    width:30px;
    position: absolute;
    right:3rem;
    top:209rem;
}
.arrow-icon-right6{
    font-size:40px;
    position: absolute;
    right: -6px;
    bottom:-7px;
}