#abrir{
    position: absolute;
    right:60px;
    top:45px;
    height: 40px;
    z-index: 99;
    
}
#abrir > i {
    font-size: 25px;
    position: relative;
    bottom: 5px;
}
.menu{
    position: fixed;
    top:0;
    right: 50px;
    bottom:0;
    background-color: #002366;
    -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    width: 0px;
    transform: translateX(370px);
    z-index:96;
    overflow: hidden;
    overflow-y: auto;

}
.visible{
    transform: translateX(0px);
    width: 340px;
    right:0px;
    
}
.visible::-webkit-scrollbar {
    display: none;
}
.nav-list{
    flex-direction: column;
    list-style-type: none;
    display:flex;
    align-items:end;
    position: relative;
    top:70px;
}
.menu > .nav-list > li > a{
    text-decoration: none;
    color:antiquewhite;
}

/* icono animación */
#burguer{
    transition: display 2s 
} 
#x{ 
    display:none;
}

.nav-list > li {
    margin-top: 38px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}
/* Media queries */
@media only screen and (min-width:500px) and (max-width:1750px){
    .menu{
        position: fixed;
        top:0;
        right: 0px;
        bottom:0;
        background-color: #002366;
        visibility: hidden;
        -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
        transition: all 100ms ease-in-out;
        -webkit-transition: all 100ms ease-in-out;
        width: 0px;
        overflow-y: auto;
    }
    .visible{
        visibility:visible;
        right:0px;
        width: 300px;
    }
    .nav-list{
        flex-direction: column;
        list-style-type: none;
        display:flex;
        align-items:end;
        position: relative;
        left:20px;
        top:70px;
    }
}
@media only screen and (min-width:100px) and (max-width:500px){
    .menu{
        position: fixed;
        top:0;
        right: 0px;
        bottom:0;
        background-color: #002366;
        visibility: hidden;
        -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
        transition: all 160ms ease-in-out;
        -webkit-transition: all 160ms ease-in-out;
        width: 0px;
    }
    .menu > .logo-duoc{
        display:none;
    }
    .visible{
        visibility: visible;
        width:120px;
        right:0px;
    }
    #abrir{
        position: absolute;
        right:0px;
        top:45px;
        height: 40px;
        z-index: 99;
        
    }
    .nav-list{
        flex-direction:column;
        list-style-type: none;
        display:flex;
        align-items:center;
        text-align: left;
        position: relative;
        left:70px;
        top:70px;
        font-size: 10px;
    }
}

/* ---- sidebar --------*/
/* logo duoc */
.logo-duoc > img{
    width: 50px;
    border-radius: 100%;
    position: absolute;
    top:95px;
}
/* ------Side bar Accordion ------ */ 
.accordion{
    width: 260px;
    position: relative;
    bottom:40px;
    right:15%;
    --bs-accordion-btn-bg: #002366;
    --bs-accordion-active-bg:#0137A2;
    --bs-accordion-border-color:#002366;
    --bs-accordion-bg:#002366;
    --bs-accordion-btn-focus-box-shadow:none;
    --bs-accordion-btn-color:#FFD400;
    --bs-accordion-active-color:#FFD400;
    --bs-accordion-icon-color:white;
}
.accordion-button{
    font-size: 17px;
    font-weight:600;
}
.accordion-button::after{
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-caret-down' viewBox='0 0 16 16'%3E%3Cpath d='M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z'/%3E%3C/svg%3E");
}
.accordion-button:not(.collapse)::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-caret-up' viewBox='0 0 16 16'%3E%3Cpath d='M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z'/%3E%3C/svg%3E");
}
.escuela-list{
    list-style: none;
    position: relative;
    bottom:20px;
    right:40px;
    text-align:initial;
}
.escuela-list > li{
    margin-top:20px;
    width: 240px;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
.escuela-list > li:hover{
    background-color:#0137A2;
}
.escuela-list > li > a {
    text-decoration: none;
    color:white;
}
.escuela-list > li > a:hover{
    color:#FFD400;
}

